<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{ indice + 1 }}. </span>
      <span class="noticia-source-name">{{ noticia.source.name }}</span>
    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()">{{ noticia.title }}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="noticia.urlToImage" (click)="abrirNoticia()" [src]="noticia.urlToImage"></ion-img>

  <ion-card-content>
    <p>{{ noticia.description }}</p>
  </ion-card-content>
</ion-card>
