<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable 
                mode="md" 
                color="primary"
                (ionChange)="cambioCategoria( $event )">
    <ion-segment-button mode="md"
                        *ngFor="let categoria of categorias"
                        [value]="categoria">
      <ion-label>{{ categoria }}</ion-label>
    </ion-segment-button>

    <!-- <ion-segment-button mode="md" value="opcion">
      <ion-label text-capitalize>Cual quier Cosa</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="opcion">
      <ion-label text-capitalize>Cual quier Cosa</ion-label>
    </ion-segment-button> -->
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
